*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.conteiner{
  height: 100vh;
  background-color: rgba(171,247,183,255);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pw_gen{
  border-radius: 20px;
  border-style: groove;
  border-color: white;
  padding: 50px;
}